* {
  scroll-behavior: smooth;
}

.header {
  padding: 0;
  width: 100vw;
  height: 62px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.8;
}

.header-wrapper {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  height: 62px;
  align-items: center;
  margin: 0 auto;
}

.header-menu {
  width: 40vw;
  display: flex;
  color: #000;
  justify-content: space-between;
  font-family: "Circular Std";
  font-weight: 500;
}
.header-menu__link {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
.header-menu__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media (max-width: 780px) {
  .header-menu {
    width: 60vw;
  }
}
@media (max-width: 560px) {
  .header-menu {
    width: 10vw;
  }
  .header-menu__link {
    display: none;
  }
}
.subtitle {
  font-family: "Smith Allison";
  font-family: Smith Allison;
  color: #ffc700;
  font-size: 200px;
}

.title {
  font-family: Circular Std;
  color: #fff;
  font-size: 80px;
}

.move {
  background-image: url("img/beach.png");
  height: 110vh;
  padding-top: 40vh;
  background-size: cover;
}

.move-content {
  height: 374px;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.move-text__subtitle {
  font-size: 23vw;
  line-height: 282.43px;
  font-weight: 400;
}
.move-text__title {
  font-size: 20vw;
  font-weight: 900;
  margin-top: -130px;
  margin-left: -20px;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: #363636 0.1rem 0.5rem 1rem;
}

.move-explore {
  display: flex;
  padding-bottom: 90px;
  align-items: end;
}
.move-explore__pic {
  margin-right: 24px;
}
.move-explore__pic:hover {
  width: 68px;
}
.move-explore__text {
  width: 170px;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.195em;
  color: #fff;
}

@media (max-width: 780px) {
  .move {
    padding-top: 20vh;
  }
  .move-content {
    flex-wrap: wrap;
  }
}
.top-destinations {
  background-image: url("img/top.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 140px;
}
.top-destinations__lines {
  width: 100%;
}

.top-destinations-text {
  padding-bottom: 90px;
}
.top-destinations-text__subtitle {
  font-family: Smith Allison;
  font-size: 200px;
  font-weight: 400;
  line-height: 166px;
  letter-spacing: 0em;
  text-align: center;
}
.top-destinations-text__title {
  font-family: Circular Std;
  font-size: 80px;
  font-weight: 900;
  line-height: 101px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -50px;
  margin-left: -20px;
}
.top-destinations-text__title::after {
  content: "";
  display: block;
  height: 0px;
  width: 20px;
  margin: 0 auto;
  border: #41d6c7 15px solid;
  border-radius: 20px;
  background-color: #41d6c7;
}
.top-destinations-text__text {
  font-family: Nunito;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 972px;
  margin: 0 auto;
  margin-top: 32px;
}

.top-destinations-grid {
  width: 85vw;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  transition: all 400ms;
}
.top-destinations-grid__item {
  display: block;
  text-decoration: none;
  transition: all 400ms;
  -o-object-fit: cover;
     object-fit: cover;
  height: 553px;
  position: relative;
  border-radius: 10px;
}
.top-destinations-grid__item::before {
  content: "";
  z-index: 0;
  width: 100%;
  height: 553px;
  display: block;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 90%);
}
.top-destinations-grid__item1 {
  background: url("img/paraty.png") 678px center;
}
.top-destinations-grid__item2 {
  background: url("img/morretes.png") 678px center;
}
.top-destinations-grid__item3 {
  background: url("img/olinda.png") 678px center;
}
.top-destinations-grid__item4 {
  background: url("img/gramado.png") 678px center;
}
.top-destinations-grid__title {
  font-family: Circular Std;
  font-size: 40px;
  font-weight: 900;
  line-height: 51px;
  letter-spacing: 0em;
  color: white;
  z-index: 10;
  position: relative;
  margin-top: 364px;
  text-align: center;
}
.top-destinations-grid__subtitle {
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  position: relative;
  z-index: 10;
}
.top-destinations-grid:hover {
  transition: all 400ms;
}
.top-destinations-grid:hover .top-destinations-grid__item {
  filter: grayscale(60%) opacity(64%);
}
.top-destinations-grid .top-destinations-grid__item:hover {
  filter: grayscale(0%) opacity(100%);
  cursor: pointer;
}
.top-destinations-grid:has(.top-destinations-grid__item1:hover) {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.top-destinations-grid:has(.top-destinations-grid__item2:hover) {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
.top-destinations-grid:has(.top-destinations-grid__item3:hover) {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}
.top-destinations-grid:has(.top-destinations-grid__item4:hover) {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

@media (max-width: 1024px) {
  .top-destinations-text__text {
    width: 85vw;
  }
  .top-destinations-grid__item {
    height: 400px;
  }
  .top-destinations-grid__item::before {
    content: "";
    z-index: 0;
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;
    position: absolute;
    top: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 90%);
  }
  .top-destinations-grid__title {
    font-family: Circular Std;
    font-size: 30px;
    margin-top: 250px;
  }
  .top-destinations-grid__subtitle {
    font-size: 13px;
  }
}
@media (max-width: 1024px) and (max-width: 750px) {
  .top-destinations-text__text {
    font-size: 20px;
  }
  .top-destinations-grid {
    transition: all 400ms;
    grid-template-columns: 1fr;
  }
  .top-destinations-grid:hover {
    transition: all 400ms;
  }
  .top-destinations-grid:hover .top-destinations-grid__item {
    filter: grayscale(0%) opacity(100%);
  }
  .top-destinations-grid .top-destinations-grid__item:hover {
    filter: grayscale(0%) opacity(100%);
    cursor: pointer;
    transition: all 400ms;
    background-size: 1400px;
  }
  .top-destinations-grid:has(.top-destinations-grid__item1:hover) {
    grid-template-columns: 1fr;
  }
  .top-destinations-grid:has(.top-destinations-grid__item2:hover) {
    grid-template-columns: 1fr;
  }
  .top-destinations-grid:has(.top-destinations-grid__item3:hover) {
    grid-template-columns: 1fr;
  }
  .top-destinations-grid:has(.top-destinations-grid__item4:hover) {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .top-destinations-text {
    padding-bottom: 70px;
  }
  .top-destinations-text__subtitle {
    font-size: 130px;
  }
  .top-destinations-text__title {
    font-size: 50px;
  }
}
.more-destinations__subtitle {
  color: #0ca296;
  text-align: center;
}
.more-destinations__title {
  color: black;
  font-family: Circular Std;
  font-weight: 900;
  text-align: center;
  margin-top: -50px;
}
.more-destinations__title::after {
  content: "";
  display: block;
  height: 0px;
  width: 20px;
  margin: 0 auto;
  border: #cbe7e4 15px solid;
  border-radius: 20px;
  background-color: #cbe7e4;
}
.more-destinations__text {
  font-family: Nunito;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #565656;
  width: 972px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 90px;
}

.more-destinations-grid {
  display: grid;
  transition: all 400ms;
  width: 85vw;
  grid-template-columns: 1fr 1.3fr 1.3fr;
  grid-template-rows: 345px 345px;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.more-destinations-grid__item {
  transition: all 400ms;
  border-radius: 10px;
  display: block;
  position: relative;
  text-decoration: none;
}
.more-destinations-grid__item::after {
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 60%);
}
.more-destinations-grid__title {
  font-family: Circular Std;
  font-size: 30px;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 200px;
  position: relative;
  z-index: 10;
}
.more-destinations-grid__subtitle {
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  position: relative;
  z-index: 10;
}
.more-destinations-grid__item1 {
  background: url("img/estaing.png") 400px center;
  background-size: 475px;
  grid-row: span 2;
  overflow: hidden;
}
.more-destinations-grid__item1 .more-destinations-grid__title {
  margin-top: 365px;
}
.more-destinations-grid__item2 {
  background: url("img/iceland.png") -50px center;
  background-size: 600px;
}
.more-destinations-grid__item3 {
  background: url("img/hamnoi.png") center center;
  background-size: 550px;
}
.more-destinations-grid__item4 {
  background: url("img/montego.png") center center;
  grid-column: span 2;
  background-size: 900px;
}
.more-destinations-grid:hover {
  transition: all 400ms;
}
.more-destinations-grid:hover .more-destinations-grid__item {
  filter: grayscale(60%) opacity(80%);
}
.more-destinations-grid .more-destinations-grid__item:hover {
  filter: grayscale(0%) opacity(100%);
}
.more-destinations-grid:has(.more-destinations-grid__item1:hover) {
  grid-template-columns: 2fr 1fr 1fr;
}
.more-destinations-grid:has(.more-destinations-grid__item2:hover) {
  grid-template-columns: 1fr 2fr 1fr;
}
.more-destinations-grid:has(.more-destinations-grid__item3:hover) {
  grid-template-columns: 1fr 1fr 2fr;
}
.more-destinations-grid:has(.more-destinations-grid__item4:hover) {
  grid-template-rows: 245px 445px;
}

@media (max-width: 1024px) {
  .more-destinations__text {
    width: 85vw;
  }
}
@media (max-width: 750px) {
  .more-destinations-grid {
    grid-template-rows: 300px 300px;
  }
  .more-destinations-grid__title {
    font-size: 26px;
    margin-top: 150px;
  }
  .more-destinations-grid__item::after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 90%);
  }
  .more-destinations-grid__item1 {
    background-size: 500px;
    background-position: top center;
  }
  .more-destinations-grid__item1 .more-destinations-grid__title {
    margin-top: 150px;
  }
  .more-destinations-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
  }
  .more-destinations-grid:hover {
    transition: all 400ms;
  }
  .more-destinations-grid:hover .more-destinations-grid__item {
    filter: grayscale(0%) opacity(100%);
  }
  .more-destinations-grid:has(.more-destinations-grid__item1:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
  }
  .more-destinations-grid:has(.more-destinations-grid__item2:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
  }
  .more-destinations-grid:has(.more-destinations-grid__item3:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
  }
  .more-destinations-grid:has(.more-destinations-grid__item4:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
  }
  .more-destinations-grid__item1 {
    grid-row: 1;
  }
  .more-destinations-grid__item4 {
    grid-column: 1;
  }
}
@media (max-width: 650px) {
  .more-destinations__subtitle {
    font-size: 130px;
  }
  .more-destinations__title {
    font-size: 50px;
  }
  .more-destinations__text {
    font-size: 20px;
  }
}
.footer {
  height: 850px;
  padding-top: 550px;
  background-image: url("img/footer.png");
}

.footer-links {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer-links__title {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}
.footer-links__link {
  display: block;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
}
.footer-links__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.footer-links__icon {
  margin-top: 23px;
}

@media (max-width: 650px) {
  .footer {
    width: 100vw;
  }
  .footer-links {
    width: 100vw;
    padding: 0 20px;
    flex-wrap: wrap;
    background-color: #003531;
  }
  .footer-links__title {
    margin-top: 40px;
  }
  .footer-links__link {
    margin-right: 20px;
  }
  .footer-links__column:last-of-type {
    display: flex;
  }
  .footer-links__icon {
    margin-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */