* {
  scroll-behavior: smooth;
}
.header {
    padding: 0;
  width: 100vw;
  height: 62px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.8;
}
.header-wrapper {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  height: 62px;
  align-items: center;
  margin: 0 auto;
}
.header-menu {
  width: 40vw;
  display: flex;
  color: #000;
  justify-content: space-between;
  font-family: "Circular Std";
  font-weight: 500;
  &__link {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}
@media (max-width: 780px) {
  .header-menu {
    width: 60vw;
  }
}
@media (max-width: 560px) {
  .header-menu {
    width: 10vw;
    &__link {
      display: none;
    }
  }
}
